body{
	background-color: #060636;
	color: white;
	font-family: "Arial", sans-serif;
}
/* Styling Navigation Bar*/
#nav-bar{
	width: 100%;
	height: 15vh;
	margin-top: 0px;
	display: flex;
}
#nav-bar-left{
	margin: 2px;
	display: flex;
	width: 30%;
	align-items: center;
}
#logo{
	height: 100%;
	width: 40%;
}
#nav-bar-left h3{
	color: white;
}
#nav-bar-right{
	margin-left: auto;
	width: 50%;
	display: flex;
	align-items: center;
}
#nav-bar-right h3{
	color: white;
}
#search{
	width: 60%;
	height: 30%;
	border-radius: 10px;
	background-color: #18186b;
	display: flex;
	align-items: center;
}
#search i{
	margin: auto;
}
#search input{
	margin-left: auto;
	background-color:#18186b ;
	border: none;
	outline: none;
	width: 80%;
	color: white;
}
#nav-bar-widgets{
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#profile-picture{
	height: 60%;
	width: 20%;
	border-radius: 50%;
}

/*Styling Header Section*/

#header{
	width: 80%;
	height: 40vh;
	margin: auto;
	display: flex;
/*	border: 2px solid white;*/
}
#poster-card{
	width: 60%;
	height: 100%;
	color: white;
	display: flex;
	background-color: #18186b;
/*	border: 1px solid white;*/
}

#poster-card-image{
	width: 40%;
}
#poster-card-image img{
	width: 100%;
	height: 100%;
	opacity: 0.8;
}
#poster-card-content{
	width: 60%;
/*	border: 2px solid white;*/
}


#artist-heading{
	height: 20%;
	width: 100%;
	color: #cfd6e3;
	display: flex;
	margin: auto;
	justify-content: space-around;
}


#artist-description{
	height: 60%;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

#card-action-buttons{
	width: 100%;
	height: 20%;
	display: inline-flex;
	justify-content:center;
	align-items: center;
}

#artist-heading p{
	padding-top: 1rem;
	color: #8a9ab5;
}
#artist-description h4,p{
	padding-left: 4rem;
	color: #8a9ab5;
}
#play{
	width: 8rem;
	height: 2rem;
	color: white;
	text-transform: capitalize;
	border: none;
	background-image: linear-gradient(to left, blue, pink);
}
#follow{
	width: 8rem;
	height: 2rem;
	border: none;
	background-color: #18186b;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	color: white;
}
#records{
	color: white;
}
#similar-artists{
	width: 35%;
	height: 100%;
	color: white;
	margin-left: auto;
	border: none;
	display: block;
	overflow-y: scroll;
}
#similar-artists::-webkit-scrollbar {
    display: none;
}
#similar-artists-heading{
	height: 30%;
	display: flex;
	position: fixed;
	justify-content: space-between;
}
#similar-artist-list{
	position: relative;
	top: 30%;
}
#similar-artist-list li{
	width: 100%;
	height: 20%;
	list-style: none;
	display: flex;
}
#similar-artist-list img{
	width: 20%;
	height: 100%;
}
#similar-artist-list div{
	width: 33.3%;
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}
#similar-artist-list p{
	padding-left: 0px !important;
}